/* Added class of partyForm */
.partyForm {
  margin: 10px 0;
}
.partyForm input {
  /* capitalizes on input, database is lowercase. Doesn't seen to have errors */
  text-transform: capitalize;
}

/* .partyForm {
  border: 2px black solid;
} */