/* * {
  border: 1px solid black;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #D3CFE6 #260755 #871A3E  */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* New information */

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1260px;
}

.Recipe {
  background-color: #d3cfe6;
  padding: 50px 0;
}

.recipeList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
  gap: 10px;
  padding: 0;
  transition: transform 0.1s;
}

.individualRecipe {
  width: 250px;
  padding-bottom: 50px;
  padding: 20px;
  background-color: white;
  border-radius: 5%;
  margin-bottom: 20px;
  transition: transform 0.2s;
  box-shadow: 0 0 10px #948c90;
}

.individualRecipe:hover {
  transform: scale(1.08);
}
.individualRecipe img {
  width: 100%;
  border-radius: 5%;
}

.individualRecipe a {
  color: #260755;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
}

.individualRecipe a:hover {
  color: #871a3e;
}

.cssanimation {
  animation-name: fadeInBottom;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
  }
}
