/* General styles  */
fieldset, ul, li, h2, h3, p, button {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    width: 100%;
}

fieldset, button {
    border: none;
}
/* Font styles */

h2, h3 {
    font-family: 'Judson', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    color: #260755;
    padding: 20px;
}

h3 {
    font-size: 1.4rem;
    color: #871A3E;
    letter-spacing: 3px;
}

p, legend, label, button {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.partySummary p:not(:last-child) {
    border-bottom: grey 1px solid;
}

/* Party Preview Section (includes Dropdown.js component) */
.partyPreview {
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Dropdown component */
.dropdown {
    text-align: center;
}

label {
    margin-right: 10px;
}

fieldset div {
    padding: 20px 0;
}

.btn {
    padding: 15px;
    border-radius: 40px;
    background-color: #871A3E;
    color: white;
    text-transform: uppercase;
    transition: all .3s;
}

.btn:hover, 
.btn:focus {
    background-color: #260755;
}


/* Guest List component */
.guestList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.partySummary {
    display: flex;
    justify-content: center;
    width: 85%;
    background-color: #F5F5F5;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.partySummary li:first-child {
    padding-left: 20px;
}

.partySummary li:last-child {
    padding-right: 20px;
}

.partySummary p {
    color: grey;
    text-transform: capitalize;
    padding: 5px;
}

.guestRestrictions {
    text-align: left;
}